<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PlansServlet</servlet-name>
        <servlet-class>controller.PlansServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailsServlet</servlet-name>
        <servlet-class>controller.DetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>controller.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteItemInCartServlet</servlet-name>
        <servlet-class>controller.DeleteItemInCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUserManangementServlet</servlet-name>
        <servlet-class>controller.AdminUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUserSearchServlet</servlet-name>
        <servlet-class>controller.AdminUserSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserEditServlet</servlet-name>
        <servlet-class>controller.UserEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>controller.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminBillingServlet</servlet-name>
        <servlet-class>controller.AdminBillingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminBillingSearchServlet</servlet-name>
        <servlet-class>controller.AdminBillingSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurchaseServlet</servlet-name>
        <servlet-class>controller.PurchaseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PlansServlet</servlet-name>
        <url-pattern>/plans</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailsServlet</servlet-name>
        <url-pattern>/plans/details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteItemInCartServlet</servlet-name>
        <url-pattern>/delete-item-in-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUserManangementServlet</servlet-name>
        <url-pattern>/admin/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUserSearchServlet</servlet-name>
        <url-pattern>/admin/user/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserEditServlet</servlet-name>
        <url-pattern>/admin/useredit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminBillingServlet</servlet-name>
        <url-pattern>/admin/billing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminBillingSearchServlet</servlet-name>
        <url-pattern>/admin/billing/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurchaseServlet</servlet-name>
        <url-pattern>/purchase</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
